<%
  var cc = post.cc || theme.cc;
  var language = config.language;
  language = language && language.length ? language[0] : language;
  if (cc && cc !== 'none') {
    var ccList = cc.split('-');
%>
  <div class="cc">
    <a href="http://creativecommons.org/licenses/<%= cc %>/4.0/deed.<%= language && language.replace('-', '_') || 'en' %>" target="_blank" title="<%- __('cc.' + cc) %>">
      <img src="<%- url_for('/images/cc/cc.png') %>">
      <%
        ccList.forEach(function(item) {
          item = item.toLowerCase();
          if (item === 'by') {
      %>
          <img src="<%- url_for('/images/cc/by.png') %>">
        <% } else if (item === 'nc') { %>
          <img src="<%- url_for('/images/cc/nc.png') %>">
        <% } else if (item === 'nd') { %>
          <img src="<%- url_for('/images/cc/nd.png') %>">
        <% } else if (item === 'sa') { %>
          <img src="<%- url_for('/images/cc/sa.png') %>">
      <% }}); %>
      <span>
        <%- _p('cc.hint', __('cc.' + cc)) %>
      </span>
    </a>
  </div>
<% } %>
