<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>">
  <% if (post.link || post.title){ %>
    <h1 class="article-header">
      <%- post.title %>
    </h1>
  <% } %>
  <%- partial('post/gallery') %>
  <div class="article-info">
    <%- partial('post/date') %>
    <%- partial('post/category') %>
    <%- partial('post/tag') %>
  </div>
  <div class="article-entry">
    <%- post.content %>
  </div>
  <footer class="article-footer">
    <%- partial('post/cc') %>
    <%- partial('post/jiathis') %>
  </footer>
</article>

<%- partial('post/duoshuo') %>
<%- partial('post/disqus') %>
