<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<%
  var title = page.title;
  if (is_archive()){
    title = '归档';
    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = '分类: ' + page.category;
  } else if (is_tag()){
    title = '标签: ' + page.tag;
  }
%>
<title>
  <% if (title){ %>
    <%= title %>
  <% } else { %>
    <%= config.title %>
  <% } %>
</title>

<% if (theme.rss){ %>
  <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
<% } %>

<% if (theme.favicon){ %>
  <link rel="icon" href="<%- theme.favicon %>">
<% } %>

<%- css('styles/main') %>
