<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<%
  var title = page.title;
  if (is_archive()){
    title = __('archive');
    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
%>

<title>
  <% if (title){ %>
    <%= title %>
  <% } else { %>
    <%= config.title %>
  <% } %>
</title>

<%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>

<% if (theme.rss){ %>
  <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
<% } %>

<% if (theme.favicon){ %>
  <link rel="icon" href="<%- theme.favicon %>">
<% } %>

<%- css('perfect-scrollbar/css/perfect-scrollbar.min.css') %>
<%- css('styles/main') %>

<%- partial('google-analytics', {}, {cache: true}) %>
<%- partial('baidu-statistics', {}, {cache: true}) %>
